body{
    background-color:#0056D2;
    font-family: "Open Sans", sans-serif;
    color: white;
}
.landing-sec-wrapper div{
    display: inline-block;
    width: 48%;
    vertical-align: top;
    margin-top: 7rem;
}
.text-wrapper{
    padding:1rem 0 0 7.5rem;
}
.text-wrapper h1{
    font-size: 2.7rem;
}
.text-wrapper p{

    font-size: 0.9rem;
    color: aliceblue;
    margin-top: 1.2rem;
    letter-spacing: 0.5px;
}
.text-wrapper button{
    margin-top: 1.7rem;
    color: #0056D2;
    border: none;
    padding: 8px 17px;
    font-weight: bold;
    border-radius: 5px;
}
.text-wrapper button:focus,
.text-wrapper button:hover{
    background-color: #093a7e;
    color: #fff;
}
img{
    width: 85%;
    border-radius: 10px;
    margin-right: 2rem;
}
